<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.PictureDao">

    <resultMap id="PictureMap" type="com.baizhi.cmfz.entity.Picture">
        <id property="pictureId" column="picture_id" />
        <result property="picturePath" column="picture_path" />
        <result property="pictureDate" column="picture_date" />
        <result property="pictureStatus" column="picture_status" />
        <result property="pictureDesc" column="picture_description" />
    </resultMap>

    <select id="selectAllPicture" resultMap="PictureMap">
        select * from t_picture limit #{page},#{rows}
    </select>

    <select id="selectPicture" resultMap="PictureMap">
        select * from t_picture where picture_id = #{pictureId}
    </select>


    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from t_picture
    </select>

    <insert id="insertPicture">
        insert into t_picture values(#{pictureId},#{picturePath},SYSDATE(),#{pictureDesc},#{pictureStatus})
    </insert>

    <update id="updatePicture">
        update t_picture set picture_description = #{pictureDesc},picture_status = #{pictureStatus}
        where picture_id = #{pictureId}
    </update>

</mapper>
